body {
    /* background-color: #191919; */
    margin: 0;
    background: linear-gradient(90deg,
    #262626 0%,
    #191919 20%,
    #191919 50%,
    #191919 80%,
    #262626 100%
  );
}

.centerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexWrapper {
    display: flex;
}

.gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1r;
    grid-auto-flow: column;
}

.mainWrapper {
    background-color: #191919;
    min-height: 100vh;
    width: clamp(400px, 50vw, 600px);
    overflow: visible;
    padding-left: 25px;
    padding-right: 25px;
}

.contentWrapper {
    width: fit-content;
    height: auto;
    background-color: #2C2C2C;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
}

.socialWrapper {
    width: fit-content;
    height: auto;
    
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.technologiesWrapper {
    display: flex;
    max-width: fit-content;
    margin-bottom: 10px;
}

.technologiesWrapper li {
    position: relative;
    bottom: -15px;
}

.technologiesWrapper svg {
    fill: white;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    display: inline-block; 
    vertical-align: middle;
}

.socialWrapper svg {
    transition: .5s;
}

.socialWrapper svg:hover {
    transform: translate(0, -3px);
}

p, h1, h2, h3, li{
    color: white;
    font-family: monospace;
}

p , li{
    font-size: larger;
}

.profilePicture {
    border-radius: 25%;
    width: 100px;
    height: 100px;
}


@media (max-width: 948px)  {
    .profilePicture {
        transform: translate(0, 20px);
    }
}