body {
    /* background-color: #191919; */
    margin: 0;
    background: linear-gradient(90deg,
    #262626 0%,
    #191919 20%,
    #191919 50%,
    #191919 80%,
    #262626 100%
  );
}

.centerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexWrapper {
    display: flex;
}

.projectFlexWrapper {
    display: flex;
    flex-wrap: nowrap;
    
    overflow-x: hidden; 
    flex-direction: row; 
    align-items: center;
}

.gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1r;
    grid-auto-flow: column;
}

.mainWrapper {
    background-color: #191919;
    min-height: 100vh;
    width: clamp(400px, 50vw, 600px);
    overflow: visible;
    padding-left: 25px;
    padding-right: 25px;
}

.contentWrapper {
    width: fit-content;
    height: auto;
    background-color: #2C2C2C;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
}

.socialWrapper {
    width: fit-content;
    height: auto;
    
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.technologiesWrapper {
    display: flex;
    max-width: fit-content;
    margin-bottom: 10px;
}

.technologiesWrapper li {
    position: relative;
    bottom: -15px;
}

.technologiesWrapper svg {
    fill: white;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    display: inline-block; 
    vertical-align: middle;
}

.socialWrapper svg {
    transition: .5s;
}

.socialWrapper svg:hover {
    transform: translate(0, -3px);
}

p, h1, h2, h3, li{
    color: white;
    font-family: monospace;
}

p , li{
    font-size: larger;
}

.profilePicture {
    border-radius: 25%;
    width: 100px;
    height: 100px;
}

.projectElement {
    transition: .2s ease-in-out;
    width: 45%;
    height: auto;
}

.projectElement:hover .projectName {
    display: none;
}

.projectElement:hover .projectDescriptionElement {
    display: inline;
}

.projectDescriptionElement{
    display: none;
    background-color: gray;
    border-radius: 10px;
    padding: 4px;
    margin-right: 10px;
    right: 0;
    height: auto;
    width: fit-content;
}

.projectDescription p {
    position: relative;
    transform: translate(0, -30%);
    margin-left: 10px;
    white-space: nowrap;

}

.projectElement img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: white solid;
    border-right: white solid;
    border-top: white solid;
}

.projectDescription {
    position: relative;
    transform: translate(0, -4px);
    background-color: #2C2C2C;
    width: 100%;
    height: 40px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: white solid;
    border-right: white solid;
    border-bottom: white solid;
}

.rightBorderParagraph {
    border-left: solid white;
    padding-left: 25px;
}

@media (max-width: 948px)  {
    .profilePicture {
        transform: translate(0, 20px);
    }

    .projectElement {
        width: 100%;
    }

    .projectName {
        position: relative;
        top: -2px;
    }

    .projectDescriptionElement {
        display: block;
    }

    .projectElement:hover .projectName{
        display: inline;
    }
}